.modal__input {
    font-family: Inter, ‘Arial’, sans-serif;
    margin-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.modal__input::placeholder {
    color: rgba(0, 0, 0, .2);
}

.modal-title {
    font-family: Inter, ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin: 0;
}

.modal-title-password {
    margin-top: 31px;
}

.modal__error_visible {
    font-family: Inter, ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}